@model DepartmentDetailsDto


<ul class="nav nav-tabs" id="departmentTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general-tab" aria-current="page" href="#general">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="administration-tab" href="#administration">Administration</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel">
        <div class="row">
            <div class="col-md-6">
                <label class="col-form-label" asp-for="Code"></label>
                <input asp-for="Code" class="form-control" readonly />

            </div>
            <div class="col-md-6">
                <label class="col-form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />

            </div>
            <div class="col-md-12">
                <label class="col-form-label" asp-for="Description"></label>
                <input asp-for="Description" class="form-control" readonly />

            </div>
            <div class="col-md-12">
                <label class="col-form-label" asp-for="CreationDate"></label>
                <input asp-for="CreationDate" class="form-control" readonly />

            </div>
        </div>
    </div>

    <div class="tab-pane fade p-4  border" id="administration" role="tabpanel" aria-labelledby="administration-tab">

        <div class="col-md-6">
            <label class="col-form-label" asp-for="CreatedBy"></label>
            <input asp-for="CreatedBy" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="CreatedOn"></label>
            <input asp-for="CreatedOn" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="LastModifiedBy"></label>
            <input asp-for="LastModifiedBy" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="LastModifiedOn"></label>
            <input asp-for="LastModifiedOn" class="form-control" readonly />

        </div>


    </div>


    @if (ViewBag.Title == "Details")
    {
        <div class="m-2">
            <a asp-action="Edit" asp-route-id="@ViewBag.Id" class="btn btn-success">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to list</a>

        </div>
    }
    else
    {
        <form asp-action="Delete" asp-route-id="@ViewBag.Id" class="m-2">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>

        </form>
    }



</div>