@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}



<div class="row justify-content-center align-items-center">
    <h1>Do you want to delete this employee</h1>

    <partial name="Partials/DeleteDetailsEmpPartial" />

</div>


