@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Details";
}

<h1>Employee details</h1>

<ul class="nav nav-tabs" id="employeeTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general-tab" aria-current="page" href="#general">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="administration-tab" href="#administration">Administration</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel">
      <div class="row">
            <div class="form-group m-2">
                <label class="form-label" asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-group m-2">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-group m-2">
                <label class="form-label" asp-for="Address">Address</label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
            <div class="form-group m-2">
                <label class="form-label" asp-for="Age"></label>
                <input asp-for="Age" class="form-control" readonly />
                <span asp-validation-for="Age" class="text-danger"></span>

            </div>

            <div class="form-group m-2">
                <label class="form-label" asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" readonly />
                <span asp-validation-for="Salary" class="text-danger"></span>

            </div>

            <div class="form-group m-2">
                <label class="form-label" asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="form-check m-2">
                <input asp-for="Gender" class="form-check-input" readonly />
                <label class="form-check-label" asp-for="Gender"></label>
            </div>


            <div class="form-check m-2">
                <input asp-for="EmployeeType" class="form-check-input" readonly />
                <label class="form-check-label" asp-for="EmployeeType"></label>

            </div>
            <div class="form-check m-2">
                <input asp-for="IsActive" class="form-check-input" readonly />
                <label class="form-check-label" asp-for="IsActive"></label>


            </div>
            <div class="form-group m-2">
                <label class="form-label" asp-for="HiringDate"></label>
                <input asp-for="HiringDate" class="form-control" readonly />
                <span asp-validation-for="HiringDate" class="text-danger"></span>

            </div>
      </div>
    </div>

    <div class="tab-pane fade p-4  border" id="administration" role="tabpanel" aria-labelledby="administration-tab">
    
        <div class="col-md-6">
            <label class="col-form-label" asp-for="CreatedBy"></label>
            <input asp-for="CreatedBy" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="CreatedOn"></label>
            <input asp-for="CreatedOn" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="LastModifiedBy"></label>
            <input asp-for="LastModifiedBy" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label class="col-form-label" asp-for="LastModifiedOn"></label>
            <input asp-for="LastModifiedOn" class="form-control" readonly />

        </div>


    </div>

    <div class="m-2">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to list</a>

    </div>
</div>
