@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Details";
    ViewData["Id"] = Model.Id;
}

<div class="col-md-6 row w-auto">
    <h1 class="m-3">Employee Details</h1>

    <partial name="Partials/DeleteDetailsEmpPartial" />

</div>
