
@model EmployeeViewmodel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">

    <h1 class="col-md-8">Edit employee details</h1>

    <partial name="Partials/EmployeeInputspartial"/>

</div>



@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial"/>
}