
@model IEnumerable<DepartmentDTO>

@{
    ViewData["Title"] = "Create";
    ViewBag.action = "Create";
}



<div class="row justify-content-center align-items-center flex-column">

    <h1 class="col-md-8">Create new department</h1>

    <partial name="Partials/DepartmentInputsPartial"/>

</div>


@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial"/>
}
