@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}



<div class="row justify-content-center align-items-center">
    <h1>Do you wants to delete this department</h1>

    <partial name="Partials/DeleteDetailsDepPartial" />


</div>


