
@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-md-6">Edit department</h1>

    <partial name="Partials/DepartmentInputsPartial" />
</div>

@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial"  />
}